{
    "extends": "@callstack",
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "project": "./tsconfig.json",
                "sourceType": "module"
            }
        }
    ],
    "rules": {
        "import/no-unresolved": "off"
    }
}
